* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.section--color {
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid #fafafa;
  .container {
    nav {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      .nav__block-element {
        margin-top: 15px;
        margin-bottom: 10px;
        h1 {
          a {
            padding: 5px;
            color: black;
            text-decoration: none;
            span {
              color: #2196f3;
            }
          }
        }
        .nav__block-element_item {
          display: flex;

          a {
            text-decoration: none;
            color: black;
            font-weight: 500;
            margin-left: 30px;
          }
          .nav__block-element_item-link:nth-child(1) {
            color: #2196f3;
          }
          .nav__block-element_item-link:nth-child(2) {
            color: #757575;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  header {
    position: fixed;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid #fafafa;
    .container {
      nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .nav__block-element {
          margin-top: 15px;
          margin-bottom: 10px;
          h1 {
            text-align: center;
            a {
              padding: 5px;
              color: black;
              text-decoration: none;
              span {
                color: #2196f3;
              }
            }
          }
          .nav__block-element_item {
            display: none;

            a {
              text-decoration: none;
              color: black;
              font-weight: 500;
              margin-left: 30px;
            }
            .nav__block-element_item-link:nth-child(1) {
              color: #2196f3;
            }
            .nav__block-element_item-link:nth-child(2) {
              color: #757575;
            }
          }
        }
      }
    }
  }
}

main {
  background-image: url("../images/bg_main.png");
  background-position: 50% 20%;
  background-size: cover;
  height: 70vh;
  .container {
    padding-top: 200px;
    .main__inner {
      text-align: center;
      h1 {
        text-transform: uppercase;
        font-size: 45px;
        color: white;
        margin-bottom: 40px;
      }
      a {
        font-size: 18px;
        background-color: #2196f3;
        text-decoration: none;
        color: white;
        padding: 15px 40px 15px 40px;
        border-radius: 5px;
        transition: linear 0.2s;
      }
      a:hover {
        background-color: #1f6cac;
      }
    }
  }
}

@media (max-height: 750px) {
  main {
    background-image: url("../images/bg_main.png");
    background-position: 50% 20%;
    background-size: cover;
    height: 80vh;
  }
}
@media (max-height: 650px) {
  main {
    background-image: url("../images/bg_main.png");
    background-position: 50% 20%;
    background-size: cover;
    height: 100vh;
  }
}

.section-about {
  .container {
    .section-about__block {
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      .section-about__block-item {
        margin: 10px;
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        span {
          font-size: 15px;
        }
      }
    }
  }
}

.services {
  .container {
    h1 {
      font-size: 35px;
      text-align: center;
    }
    .aside-services__block {
      display: flex;
      justify-content: center;
      .aside-services__block-item {
        max-width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img {
          max-width: 50%;
          margin: 10px;
        }
      }
    }
  }
}

section {
  background-color: #f5f4fa;
  padding-top: 20px;
  padding-bottom: 20px;
  .container {
    padding-top: 50px;
    .section__block {
      h1 {
        font-family: "Rowdies", sans-serif;
        font-weight: 700;
        font-size: 70px;
        background: -webkit-linear-gradient(
          90deg,
          rgba(255, 158, 0, 1) 0%,
          rgba(255, 239, 0, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .section_nthchild {
        text-align: end;
      }
      .section__block-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        .section__block-text {
          h2 {
            font-size: 40px;
          }
          p {
            font-weight: 500;
            margin-top: 15px;
            font-size: 24px;
            color: #757575;
            span {
              color: black;
              span {
                color: #2196f3;
              }
            }
          }
          ul {
            font-weight: 500;
            margin-top: 20px;
            list-style-type: "— ";
            li {
              margin: 15px;
              color: #757575;
            }
          }
        }
        img {
          max-width: 70%;
          margin: 10px;
        }
      }
    }
  }
}
@media (max-width: 1250px) {
  section {
    .container {
      .section__block {
        h1 {
        }
        .section_nthchild {
          text-align: end;
        }
        .section__block-item {
          .section__block-text {
            h2 {
              font-size: 35px;
            }
            p {
              font-size: 20px;
            }
          }
          img {
            width: 350px;
            height: 280px;
            margin: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  section {
    .container {
      .section__block {
        h1 {
        }
        .section_nthchild {
          text-align: start;
        }
        .section__block-item {
          flex-direction: row;

          .section__block-text {
            h2 {
              font-size: 25px;
            }
            p {
              font-size: 15px;
            }
            ul {
              font-weight: 500;
              margin-top: 20px;
              list-style-type: "— ";
              li {
                margin: 15px;
                color: #757575;
              }
            }
          }
          img {
            width: 350px;
            height: 280px;
            margin: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  section {
    .container {
      .section__block {
        text-align: center;
        h1 {
        }
        .section_nthchild {
          text-align: center;
        }
        .section__block-item {
          flex-direction: column;

          .section__block-text {
            h2 {
              margin-top: 10px;
              font-size: 25px;
            }
            p {
              font-size: 15px;
            }
            ul {
              font-size: 13px;
              font-weight: 500;
              margin-top: 20px;
              list-style-type: "";
              li {
                margin: 15px;
                color: #757575;
              }
            }
          }
          img {
            margin: 0 auto;
            width: 350px;
            height: 280px;
          }
        }
      }
    }
  }
}

.section-response {
  background-color: white;

  .container {
    h1 {
      font-size: 40px;
      text-align: center;
    }
    .section-response__block {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .section-response__block-item {
        box-shadow: 0px 0px 6px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 6px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 6px -5px rgba(0, 0, 0, 0.75);
        padding: 25px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        .item__star {
          text-align: center;
          margin: 5px;
          img {
          }
        }
        .item__text {
          margin: 5px;
          span {
            text-align: start;
            font-size: 15px;
          }
        }
        .item__avatar {
          text-align: center;
          margin-top: 15px;
          img {
          }
        }
        .item__username {
          text-align: center;
          span {
          }
        }
      }
    }
  }
}

.aside-application {
  .container {
    padding-bottom: 20px;
    .aside-application__block {
      background-color: #2196f3;
      padding: 40px;
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .aside-application__block-title {
        h1 {
          color: white;
          font-size: 30px;
        }
      }
      .aside-application__block-main {
        text-align: center;
        span {
          color: white;
          font-size: 15px;
        }
        .aside-application__block-main__subtitle {
          margin-top: 15px;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          input {
            border: none;
            font-size: 20px;
            padding: 5px;
            text-decoration: none;
            outline: none;
            color: #757575;
            margin: 5px;
          }
          button {
            font-size: 15px;
            padding: 8px;
            border: none;
            color: #2196f3;
            border-radius: 5px;
            margin-left: 5px;
            transition: 0.2s linear;
          }
          button:hover {
            background-color: #82c0f3;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .aside-application {
    .container {
      padding-bottom: 20px;
      .aside-application__block {
        background-color: #2196f3;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .aside-application__block-title {
          h1 {
            color: white;
            font-size: 25px;
          }
        }
        .aside-application__block-main {
          text-align: center;
          span {
            padding-top: 10px;
            color: white;
            font-size: 12px;
          }
          .aside-application__block-main__subtitle {
            margin-top: 15px;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            input {
              border: none;
              font-size: 20px;
              padding: 5px;
              text-decoration: none;
              outline: none;
              color: #757575;
              margin: 5px;
            }
            button {
              font-size: 15px;
              padding: 8px;
              border: none;
              color: #2196f3;
              border-radius: 5px;
              margin-left: 5px;
              transition: 0.2s linear;
            }
            button:hover {
              background-color: #82c0f3;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #2f303a;
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: white;
    h1 {
      font-size: 30px;
      font-weight: 400;
      span {
        color: #2196f3;
      }
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 300;
    }
    a {
      color: #757575;
      margin-top: 10px;
      font-weight: 300;
      text-decoration: none;
      transition: 0.1s linear;
    }
    a:hover {
      color: white;
    }
  }
}
